PORT=5000

# Option 1: Shared Team MongoDB Atlas Cluster (pre-seeded with demo accounts)
MONGODB_URI=mongodb+srv://kvsudharshanreddyy_db_user:OcaNb1v3ZJ6jIUoC@cluster0.q6fwr4c.mongodb.net/logistics_fleet?appName=Cluster0

# Option 2: Local MongoDB instance (Run `npm run seed` after starting)
# MONGODB_URI=mongodb://localhost:27017/logistics_fleet

JWT_SECRET=logistics_super_secret_key_2024
JWT_EXPIRES_IN=7d
BCRYPT_ROUNDS=10

